// Min-view: 375px
// Max-view: 1440px




// Primary colors.
$dark-blue: #2d314d;
$lime-green: #31d35c;
$bright-cyan: #2bb7da;




// Neutral colors.
$grayish-blue: #9698a6;
$light-grayish-blue: #f3f4f6;
$very-light-gray: #fafafa;
$white: #ffffff;




// Typography.
$ff-public-sans: 'Public Sans', sans-serif;
$fw-light: 300;
$fw-regular: 400;
$fw-bold: 700;