@import "config";
@import "nav";
@import "hero";
@import "about";
@import "blog";
@import "footer";
@import "button";



* {
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: $ff-public-sans;
    font-weight: $fw-regular;
    font-size: 18px;
    background-color: $white;
}

footer {
    background-color: $dark-blue;
}


@keyframes fade {
    from { opacity: 0;}
    to { opacity: 1;}
}


@keyframes enterTop {
    from { transform: translateY(-100%)}
    to { transform: translateY(0%)}
}